.contact-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.viewer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icons a {
    margin: 0 10px;
}

.imgNoBackground {
    mask-image: linear-gradient(white 30%, transparent);
}

.iconSocialMedia{
    mix-blend-mode: multiply;
}

.enLinea{
    display: inline-flex;
    gap: 10%;
}

/*pruebas*/
article{
    display: flex;
    width: 100%;
}
.picture{
    width: 50%;
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 50%;
}

/*fin de pruebas*/

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .contact-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0px 20px 0px;
        }

    .viewer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}